
<div class="Shop">
<div class="row">
 <heading class="col-md-12" id="shop-open">

<h1>Welcome to the Nightmart</h1>
  </heading>
  </div>
<div class="row">
<div class="col-md-6 store-front">
<h2>In Stock Today:</h2>

<ul class="shop">
{{#each items}}
	<li class="shopItem" value="{{this.id}}" id="item{{this.id}}">
	<p>{{this.item_name}}

	</li>
{{/each}}
</ul>
</div>


<div class="col-md-6 backpack">

<h2>Your Backpack: </h2>

<ul class="ulBackpack">
</ul>
</div>

<div id="footer">

<a href="/worldMap"><button id="homeButton" class=".btn-warning">WorldMap</button></a>

</div>


<script type="text/javascript" src="/assets/js/shop.js"></script>
