<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project 2 Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/nameSelect.css">
    <link rel="stylesheet" href="/assets/css/worldMap.css">
  </head>
  <body>



    {{{body}}}


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/nameSelect.js"></script>
    <script type="text/javascript" src="/assets/js/worldMap.js"></script>
  </body>
</html>
