<div class="beginDiv">


  <h3 id=beginTitle>Disjoint: The Game</h3>
  <form id="beginForm"  action="/" method="POST">
    <div class="form-group">
      <label for="ca">Player Name:</label>
      <input type="text" id="playerNameInputField" name="player_name" required pattern="\w+">
    </div>
    <button id="playerNameButton" type="submit">Begin</button>
  </form>
</div>
</div>
