<h1>level3: Falenas' Shop</h1>
<div id="shopImage">
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buy</h4>
      </div>
      <div class="modal-body" >
        <div id ="displayPurchases">
        <p>You are buying the following items:</p>
        </div>
        <div id = "displayPurchaseImage">
        </div>
      </div>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
$("#myModal").modal('show');