<link rel="stylesheet" href="/assets/css/worldMap.css">
<header>
  <h1 id="worldMapHeader">World Map</h1>
</header>
<div class="worldMap">
  {{> mapTile}}
</div>
<script type="text/javascript" src="assets/js/worldMap.js">

</script>
