<link rel="stylesheet" href="/assets/css/worldMap.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<header>
  <h1 id="worldMapHeader">World Map</h1>
</header>
<div class="worldMap">
  {{> mapTile}}
</div>
<audio loop="loop" autoplay="autoplay"><source src="/assets/sounds/worldmaptheme.wav"></audio>

<script type="text/javascript" src="assets/js/worldMap.js">

</script>
