* {
  font-family: 'Press Start 2P', cursive;
font-size: 18px;
}

body {
  background: url(../img/darkcompbg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}


h3 {
  font-weight: bold;
  font-size: 48px;
  color:#BF2A2A;
  margin-bottom: 20px;
}

#fullLogWindow{
  border: 3px solid black;
  background-color: rgba(9, 33, 64, 0.9);
  height: 600px;
  width: 960px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
    box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
}

.btn-5 {
  margin-top: 20px;
  font-size: 48px;
  width: 300px;
}


.bgcolor-1 {
    background: #F2C777;
}


.input__field--haruki {
  font-size: 2em;
  color: black;
  font-family: 'Press Start 2P', cursive;
}

#creditModalButton {
  float: right;
  margin-right: 20px;
}
