/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

* {
  font-family: 'Source Code Pro', monospace;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-image: url(/assets/img/green_cup.png);
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;
  text-align: left;
      background-image: url(/assets/img/vintage-concrete.png);
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-image: url(/assets/img/green_cup.png);
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    border: 1px solid #888;
    width: 768px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

button {
  height: 30px;
  width: 200px;
  font-size: 18px;
}

body {
  background-image: url(/assets/img/memphis-colorful.png);
}

#instructions {
  position: absolute;
    width: 400px;
    top: 165px;
    right: 50px;
}

h4 {
  font-weight: bold;
}
