/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    

}

* {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    color: white;
    background: #1e299a;
background: -moz-linear-gradient(top, #1e299a 0%, #203aca 29%, #203aca 29%, #203aca 39%, #2a47d8 52%, #7e91e8 100%);
background: -webkit-linear-gradient(top, #1e299a 0%,#203aca 29%,#203aca 29%,#203aca 39%,#2a47d8 52%,#7e91e8 100%);
background: linear-gradient(to bottom, #1e299a 0%,#203aca 29%,#203aca 29%,#203aca 39%,#2a47d8 52%,#7e91e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e299a', endColorstr='#7e91e8',GradientType=0 );
}

/* Modal Body */
.modal-body {padding: 2px 16px;
  text-align: left;
      /*background-image: url(/assets/img/vintage-concrete.png);*/
      background-color: white;
      border-left: #1B20E3 5px solid; 
      border-right: #1B20E3 5px solid; 
      -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
   /* background-image: url(/assets/img/green_cup.png);*/
/*    background-color: #1B20E3;
    color: white;*/

    background: #1e299a;
background: -moz-linear-gradient(top, #1e299a 0%, #203aca 29%, #203aca 29%, #203aca 39%, #2a47d8 52%, #7e91e8 100%);
background: -webkit-linear-gradient(top, #1e299a 0%,#203aca 29%,#203aca 29%,#203aca 39%,#2a47d8 52%,#7e91e8 100%);
background: linear-gradient(to bottom, #1e299a 0%,#203aca 29%,#203aca 29%,#203aca 39%,#2a47d8 52%,#7e91e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e299a', endColorstr='#7e91e8',GradientType=0 );
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    border: 1px solid #888;
    width: 768px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

button {
  height: 30px;
  width: 200px;
  font-size: 18px;
}

body {
  /*background-image: url(/assets/img/memphis-colorful.png);*/
  background-image: url(/assets/img/aolscreen.jpg);
  background-size: cover;
}

#instructions {
  position: absolute;
    width: 400px;
    top: 165px;
    right: 50px;
}

h4 {
  font-weight: bold;
}
