/*style sheet for general templating*/
/*general elements*/

/*#textBox{
  border: blue solid 10px;
  color: white;
  background-color: black;
  width: 400px;
  height: auto;
}*/


/*div.row{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}*/

#portal{
    opacity: 1;
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    padding-right: 150px;
    padding-top: 150px;
    margin-right: 50px;
    bottom:0;
    /*left:0;*/
    height: 75%;

}

/*textbox row */
/*.row{
    background: black;
    color: white;
}*/

.p{

    text-align: center;
  padding-top: 120px;
}


.form-group{
  background: red;
  color: white;

}


.container-fluid{
      background: black;
    color: white;

}



/*level 1 bedroom */

#bedPic{
  max-width: 100%;
  height: auto;
  position: relative;
  min-height: 100%
  min-width: 100%;
  top:0;
  left: 0;
  /*layering*/
 /* z-index: -10;*/
  /*center the image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.footer{
  position: relative;
  margin-top: -150px;  negative value of footer height
  height: 150px;
  clear:both;
  padding-top:20px;
}*/

#displayShadow{
  background-image: url(../img/shadow.png);
  position: absolute;
  
}


/*level 2 forest*/
#displayForest{
/*  background: url(../img/Fairy_Forest.JPG);*/
  max-width: 100%;
  height: auto;
}


/*level 4 underworld */
#displayHell{
   max-width: 100%;
  height: auto;
}

/*li{
  color: red;
  border: green 5px solid;
}
*/

/*level 5*/
#displayHall{
   max-width: 100%;
  height: auto;
}

/*level 6*/
#displayCastle{
   max-width: 100%;
  height: auto;
}


/*level 7*/
#displayFishing{
   max-width: 100%;
  height: auto;
}


/*level 8*/
#displayHell{
   max-width: 100%;
  height: auto;
}

.choiceSelector {
  border: 1px solid black;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #bedPic {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}