/*style sheet for general templating*/

/*level 1 bedroom */

#bedPic{
  max-width: 100%;
  height: auto;
}
/*.footer{
  position: relative;
  margin-top: -150px;  negative value of footer height 
  height: 150px;
  clear:both;
  padding-top:20px;
}*/


/*level 2 forrest*/
#displayForrest{
  background: url(../img/Fairy_Forest.png);
}

/*#textBox{
  border: blue solid 10px;
  color: white;
  background-color: black;
  width: 400px;
  height: auto;
}*/

/*level 4 underworld */

#displayHell{
  background: url(../img/);
}

li{

  color: red;
  border: green 5px solid;
}

