body {
  background-image: url(../img/worldMapBackground.jpg);
}
header {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-family: 'Source Code Pro', monospace;
}

#worldMapHeader {
  font-size: 48px;
}

.worldMap {
    width: 960px;
    margin: auto;
    padding-left: 160px;
    margin-top: 10px;
    border: 1px solid black;
    height: 610px;
    background-image: url(../img/oldmap.jpg);
}
.hexagon {
  /*display: none;*/
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 219.3931px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 24.29px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 190.0000px;
  height: 109.69655114602891px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 190.0000px;
  height: 109.6966px;
  z-index: 2;
  background: inherit;
}

#level1 {
    left: 117px;
    top: 5px;
    background-image: url(/assets/img/smallBedroom.png);
}

#level2 {
    left: 10px;
    top: 15px;
    background-image: url(/assets/img/smallForest.png);
}

#level3 {
    left: 223px;
    top: -157px;
}

#level4 {
    left: 116px;
    top: -148px;
    background-image: url(/assets/img/smallVolcano.png);
}

#level5 {
    top: -321px;
    left: 329px;
    background-image: url(/assets/img/smallArmor.png);
}

#level6 {
    top: -677px;
    left: 435px;
    background-image: url(/assets/img/small90.png);
}

#level7 {
    top: -1033px;
    left: 330px;
}


.hexagon2 {
  position: relative;
  width: 200px;
  height: 115.47px;
  background-color: #000000;
  margin: 57.74px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  opacity: 0;
  z-index: 3;
}

.hexagon2:hover {
  opacity: 0.8;
}

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 29.2893px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon2:before {
  top: -70.7107px;
}

.hexagon2:after {
  bottom: -70.7107px;
}

/*cover up extra shadows*/
.hexagon2 span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:200px;
  height:115.4701px;
  z-index: 2;
  background: inherit;
}

.innerText {
  text-align: center;
  font-size: 36px;
  margin-top: 35px;
  color: white;
}
